@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.search-results {
  border-radius: size(2px);
  background-color: $white;
  width: 100%;
  max-width: size(1215px);
  margin: 0 auto;
  border-radius: 2px;

  &__separator {
    border: 2px solid $whitesmoke;
    width: 100%;
    margin: 0 15px;
  }
}
