@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.search {
  height: size(44px);
  display: flex;
  align-items: center;
  width: 80%;

  &__input {
    height: size(34px);
    padding: size(10px) size(15px);
    flex: 1;
    border: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    font-size: size(16px);
    font-family: $lato-ligth;
  }

  &__button {
    height: size(34px);
    border: none;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}
